#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background: url("https://i.insider.com/5d03aa8e6fc9201bc7002b43?width=1136&format=jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-weight: 900px;
  font-size: 90px;
  color: white;
  line-height: 1.2;
  text-shadow: 2px 2px 8px #ff0000;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 90px;
  opacity: 1;
  background-color: #373836;
  border: 1px solid white;
  box-shadow: 2px 2px 1px 1px gray;
  color: white;
  margin-right: 30px;
}
/* .button {
  color: black;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.7px;
} */

.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-5deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.button:click {
  opacity: 0;
}
